/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff1ed;
}

a {
  display: inline-block;
}

.btn, .btn:focus {
  background-color: #85AEE1;
  color: #ffffff;
  margin: 5px;
  box-shadow: none;
}

.card {
  margin: auto;
  max-width: 300px;
}
