// Soporte de comentarios de línea, no se ven después de la compilación.

// Variables
$color_pink:#da9393;
$color_green:#93da99;
$color_black:#000;
$color_red: #db1e1e;

h1 {
  color: $color_pink; // Uso de la variable
}

p {
  code {
    color: $color_green;
    background-color: $color_black;
    padding: 2px 3px;
  }
}

@mixin redondear($radio) {
  border-radius: $radio;
  border:  1px solid;
  padding: 10px;
}

// Usar mixin
.border10 {
  @include redondear(10px);
}

.border10 {
  @include redondear(50px);
}

%boton {
  border-radius: 20px;
  display: inline-block;
  margin: 10px 5px;

  &:hover {
    color: $color_pink;
    border-color: $color_pink;
  }
}

.boton-verde {
  @extend %boton;
  color: $color_green;
  border-color: $color_green;
}

.boton-rojo {
  @extend %boton;
  color: $color_red;
  border-color: $color_red;
}
