<h1>Sass</h1>
<p>SASS es un precompilador de CSS y soporta dos formatos, <code>.scss</code> y <code>.sass</code>.</p>
<p>Vamos a usar el formato <code>.scss</code> porque es el más sencillo, al permitirnos escibir como CSS.</p>
<p>Existen otros compiladores, como <code>less</code> y <code>stylus</code>.</p>
<p><a href="https://sass-lang.com/" target="_blank">Documentación Oficial</a></p>

<p class="borde10">10</p>
<p class="borde50">50</p>

<button class="btn boton boton-verde">Soy verde</button>
<button class="btn boton boton-rojo">Cancel</button>
